@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(to right, #63E5F4 0%, #735BEE 57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-button {
  background: linear-gradient(to right, #63E5F4 0%, #735BEE 57%);
  background-clip: padding-box;
  border: 1px solid transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

